.banner{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
}
p{
    margin: 0;
}

.img-solo-v{
    padding: 0 35%;
}

.img-solo-h{
    padding: 0 20%;
}

.nav-button{
    border-radius: 50%;
    min-width: 3em;
    min-height: 3em;
    }

.separator{
    background-color: rgb(131, 151, 161);
    min-height: .2vh;
    max-width: 5vh;
    padding: 0;
    margin: auto;
}

.card-white{
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px rgb(131, 151, 161);
    border-radius: 2%;
    margin: 0 .5em;
    padding: 0 .5em;
}

.card-white:hover {
    transform: scale(1.01)
}

body{
    min-height: 100vh;
}

.bg-grey{
    background: rgb(220, 224, 238);

}
